body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
header,footer{
    background-color: rgb(1, 4, 4);
    color: wheat;
    text-align: center;
}
.container{
    display: flex;
    flex: 1;
}
.middle{
    flex: 1;
    text-align: center;
}
.left{
    background-color: aquamarine;
}
.right{
    background-color: rgb(232, 127, 177);
}
.left,.right{
   
    text-align: center;
    width: 200px;
    padding: 20px;
}

@media screen and (max-width: 400px) {
    .container{
        flex-direction: column;
    }
    .left,.right,.middle{
        width: 100%;
        padding: 10%;
    }
    
}